@model IEnumerable<Person>

@{
    //string? appTitle = "Asp.net Core Demo App";

    Person person = new() { Name = "An", DateOfBirth = Convert.ToDateTime("2002-01-01"), PersonGender = Gender.Other };

    //List<Person>? persons = (List<Person>)@ViewData["persons"];
    List<Person>? persons = ViewBag.persons;
}

<!-- như static có thể dùng khắp web pages like
    
    Functions.GetAge(...)
-->
@{
    // method
    double? GetAge(DateTime? dateOfBirth)
    {
        if (dateOfBirth is null)
        {
            return null;
        }

        double totalDays = (DateTime.Now - dateOfBirth.Value).TotalDays,
               age = totalDays / 365.25;

        return Math.Round(age);
    }

    //int x = 10;

    //string Name { get; set; } = "Hello Name";

    //string alertMessage = $"<script>alert('{persons.Count} people found')</script>";
}

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.appTitle</title>
        <meta charset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="page-content">
            <h1>Person</h1>

            @foreach (Person p in Model)
            {
                <div class="box float-left w-50">
                    <h3>@p.Name</h3>
                    <table class="table w-100">
                        <tbody>
                            <tr>
                                <td>Gender</td>
                                <td>@p.PersonGender</td>
                            </tr>
                            <tr>
                                <td>Date of birth</td>
                                <td>
                                    @if (p.DateOfBirth.HasValue)
                                    {
                                        @p.DateOfBirth.Value.ToString("dd/MM/yyyy")
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                     
                    <a href="/person-details/@p.Name">Person Details</a>
                     
                    <div>
                         <a href="person-and-product">Person with product</a>
                    </div>
                </div>
            }
        </div>
</body>
</html>



